<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
    <div class="liner"></div>

    <!-- circular situation icon -->
    <li>
      <a uiSrefActive="active" uiSref="situation" data-toggle="tab" title="situation">
                <span class="round-tabs one">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
      </a>
    </li>

    <!-- circular besoin icon -->
    <li>
      <a uiSrefActive="active" uiSref="besoin" data-toggle="tab" title="besoin">
                <span class="round-tabs two">
                    <i class="glyphicon glyphicon-tasks"></i>
                </span>
      </a>
    </li>

    <!-- circular protection icon -->
    <li>
      <a uiSrefActive="active" uiSref="protection" data-toggle="tab" title="protection">
                <span class="round-tabs three">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
      </a>
    </li>

    <!-- circular benef icon
    <li>
      <a uiSrefActive="active" uiSref="beneficiaires" data-toggle="tab" title="beneficiaires">
                <span class="round-tabs three">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
      </a>
    </li>
-->
    <!-- circular validation icon -->
    <li>
      <a uiSrefActive="active" uiSref="validation" data-toggle="tab" title="validation">
                <span class="round-tabs four">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
      </a>
    </li>

  </ul>
  <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<script src="assets/js/loading-bars.js"></script>
